
* {
  box-sizing: border-box;
}
body {
  background: #18202F !important;
  height:100%; 
  display: flex;
  font-weight: 400;
}

h2,h3,h4,h5,h6,label,span {
  color: #ffffff;
  font-weight: 500;
}

html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #18202F;
  border: 1px solid #18202F;
  padding: 10px;
  box-shadow: 1px 5px 10px rgb(17, 22, 32);
  
}


.navbar-land {
  background-color: none;
  padding: 10px;
}

.navbar-title, .navbar-title:hover{
  text-decoration: none;
  font-size: 25px;
}

.navbar-title-landing, .navbar-title-landing:hover{
  text-decoration: none;
  font-size: 25px;
  margin-left: -5%;
}

.auth-wrapper {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}


.auth-wrapper-form {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}


.auth-wrapper-landing {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: 0 auto;
  background: #283245;
  padding: 40px 55px 45px 55px;
  transition: all .3s;
}

.auth-inner-landing {
  width: 450px;
  margin: auto;
  background: none;
  padding: 0px 55px 10px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.wrapper{
  background-color: red;
  color: white;
}

section {
  margin: 0 120px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}
/*
Landing Page CSS
*/
.landing{
  margin: auto;
  padding-top: 180px;
  text-align:inline;
  font-weight: 500;
  height: 100%;
}
.landing-right-content{
  margin-top: 5%;

  float: right;
  width: 50%;
}

.landing-left-content{

  float: left;
  width: 30%;
  margin-left: 10%;
  margin-top: -5%;
}

.landing-img{
  width:500px;
}

.landing-form-control{
  background-color: rgb(31, 41, 59);
  height: 40px;
  margin-right: 10px;
  border-top:none;
  border-left: none;
  border-right:none;
  padding-left: 10px;
  color:white;
}

.landing-form-control:focus {
  border-color: #0BC7FB;
}

.landing-btn{
  border-radius: 25px;
  width: 100px;
  height: 40px;
  background-color:#18202F;
  border:1px solid #4CE2A7;
  color: #0BC7FB;
  font-size: 19px;
  font-weight: bold;
}

.landing-btn:hover{
  background-color:rgb(29, 39, 58);
  border:1px solid #4CE2A7;
  color: #0BC7FB;
}

.get-started{
}

.email-get-started{
  border:1px solid #4CE2A7;
  width: 450px;
  height: 45px;  
  border-radius: 30px;
  background-color: #1B2136;
  color: #273E64;
  font-size: 20px;
  padding-left: 15px;
  display: inline-block;
}

.btn-get-started{
  background-image: linear-gradient(to right, #43DEC2 0%, #23D1E2 51%, #0BC7FB 100%);
  border:1px solid #4CE2A7;
  color: #022047;
  width: 340px;
  height: 38px;
  border-radius: 30px;
  font-size: 19px;
  font-weight: bold;
  margin: center;
  margin-bottom: 3%;

}

.btn-login-started{
  background-color:#18202F;
  border:1px solid #4CE2A7;
  color: #0BC7FB;
  width: 340px;
  height: 38px;
  border-radius: 30px;
  font-size: 19px;
  font-weight: bold;
  margin-left: center;
}

.btn-login-started:hover{
  background-color:rgb(29, 39, 58);
  border:1px solid #4CE2A7;
  color: #0BC7FB;
}

.landing-title{
  text-align: center;
}

/*
Homepage Navigation CSS
*/

.homePage{
  margin:  8vh auto; 
}

.home-wrapper{
  background-color: none;
  justify-content: center;
  display: flex;
  width: 70%;
  margin: 0 auto;
  height: 80vh; 
}

.main-content{
  background:#283245; 
  width:46.3%;
  border-left: 2.5px solid grey;
  border-right: 2.5px solid grey;
  position: relative;
  overflow-y: hidden;
}

.main-content-body{
  color: white;
  width: 100%;
  overflow-y:auto;
  overflow-x: hidden;
  position: absolute;
  height: 72vh;
}

.side-chat{
  background:#283245; 
  width:20%;  
  display: flex; 
}

.bar{
  background:none; 
  width:20%; 
  padding-left: 10px;
  padding-bottom: 54.5%;
  display: flex; 
}

.sideBar{  
  width:9.5%; 
  display: flex; 
}

 /* Style the tab */
 .tab {
  background-color: #283245;
  color: white;
  width: 100%;
  height: 55px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 25%;
  transition: 0.3s;
  color: white;
 
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #1DA1F2;

}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;

}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  
} 
 /* Style the tab */
 .tab-side {
  overflow: hidden;
  color: white;
  font-size: 20px;
}

/* Style the buttons that are used to open the tab content */
.tab-side button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 100%;
  transition: 0.3s;
  color: white;
 
}

/* Change background color of buttons on hover */
.tab-side button:hover {
  background-color: #1DA1F2;
}

/* Create an active/current tablink class */
.tab-side button.active {
  background-color: #ccc;
}

/*
Forgot Password CSS
*/

/*
Profile Page CSS
*/
.home-wrapper-profile{
  background-color: none;
  justify-content: center;
  display: flex;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  overflow: hidden;
}

.profile-wrapper {
  background:#283245; 
  width:46.3%;
  display: flex; 
  border-left: 2.5px solid grey;
  border-right: 2.5px solid grey;
}

.profile-inner{
  background: #283245;
  padding: 40px 55px 45px 55px;  transition: all .3s;
  border: none;
 margin: 0 auto;
}

.profile-fields{
  text-align: center;
  
}

.profile-form1{

  height: 45px;
  width: 300px;
  background-color: #384661;
  margin-bottom: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  color:grey;
  padding-left: 10px;
}

.btn-profile-upload-img{
  background-color: #384661;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 25px;
  border: none;
  margin-top: 10%;
}

.profile-form2{
 
  height: 45px;
  width: 300px;
  background-color: #384661;
  border-top: none;
  border-left: none;
  border-right: none;
  color:grey;
  padding-left: 10px;
  margin-bottom: 20px;
}

.save{
  float: left;
  background-color: #1DA1F2;
  border: none;
  border-radius: 25px;
  color: #fff;
  height: 35px;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.content{
  background-color: #283245;
}

.cancel{
  float: right;
  background-color: red;
  border: none;
  border-radius: 25px;
  color: #fff;
  height: 35px;
  width: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
}


.logoff{
  float: right;
  background-color: red;
  border: none;
  border-radius: 25px;
  color: #fff;
  height: 35px;
  width: 100px;
}

.delete-profile{
  margin: auto;
}

.btn-delete{
  float: right;
  background-color: #283245;
  border: 1px solid red;
  border-radius: 25px;
  color: red;
  height: 35px;
  width: 120px;
}

.profile-title{
  float: left;
  margin-bottom: 10px;
}


.profile-inner-header{
  display: inline-block;
}

.btn-edit-profile{
  background-color: #283245;
  border: solid #1DA1F2 2px;
  border-radius: 25px;
  color: #fff;
  height: 35px;
  width: 100px;
  
}

.edit-profile{
  float: right;
}

.btn-edit-profile:hover{
  background-color: #1DA1F2;
  border:none;
}

/*
Create League CSS 
*/

.clWrapper{
    width: 46.3%;
    background: #283245;
    padding: 20px;
    color: white;
    overflow: hidden;
    display: flex;
    border-left: 2.5px solid grey;
    border-right: 2.5px solid grey;
}

.clContent{
  margin:0 auto;
}

.btn-createLeague{
  color: white;
  background-color: #1DA1F2;
  border: none;
  height: 50px;
  width: 200px;
  font-size: 20px;
  float: right;
  margin-top: -10%;
}

.btn-createLeague:hover{
  background-color: #0d8bd9;
}

.league-name{
  padding-bottom: 10px;
}

.teams{
  padding-bottom: 10px;
}

.scoringFormat{
  padding-top: 41px;
  padding-bottom: 10px;
}

.btn-upload-img{
  border: none;
  background-color: #A3BBD3;
  height: 120px;
  width: 120px;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.btn-upload-img:hover{
  background-color: #55616E;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}


.league-name-text{
  background-color: #283245;
  border-top: none;
  border-left: none;
  border-right: none;
  color:grey;
  width: 400px;

}
.league-name-text{
  color: white;
}

.league-size {
  list-style-type:none;
  margin:0 0 0 0;
  padding:0;
  text-align: center;
}

.league-size li{
  float:left;
  margin:0 0 0 0;
  width:100px;
  height:50px;
  position:relative;
}

.league-size label, .league-size input{
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.league-size input[type="radio"]{
  opacity:0.011;
  z-index:100;
}

.league-size input[type="radio"]:checked + label {
  background:#0D8BD9;
}


.league-size label{
  padding:5px;
  border:1px solid #CCC; 
  cursor:pointer;
 z-index:90;
}

.league-size label:hover{
  background:#4f6288;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

/*
Profile Modal CSS
*/
.modal-content{
  background-color: #283245 !important;
}

.edit-modal-header {
  background-color: #283245;
  border-top-left-radius: 25px !important; 
  border-top-right-radius: 25px !important; 
}

.edit-modal-footer {
  background-color: #283245;
  text-align: center;
}

.edit-modal-body{
  background-color: #283245;
}

.edit-profile-title{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 20px;
}

.modal-profile-control{
  padding-bottom: 25px;
  text-align: center;
}
.modal-profile-form1{
  height: 38px;
  width: 340px;
  margin-bottom: 20px;
  padding-left: 10px;
}

/*
Inbox CSS
*/

.message-selection{
  background:#283245; 
  width:20%; 
  padding-left: 10px;
  display: flex; 
  border-left: 2.5px solid grey;
}

.message-box{
  background:#283245; 
  width:46.3%;
  display: flex; 
  border-left: 2.5px solid grey;
}

/*
Matchup Panel CSS
*/


/*
Users CSS
*/
.matchup-panel{

}

.renew-matchup-header{
  height: 40px;
}

.matchup-header{
  height: 135px;
}

.matchup-row{
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.matchup-owner{
  background-color: #394354;
  width: 48%;
  height: 60%;
  display: flex;
  float: left;
}
.matchup-owner-flip{
  background-color: #394354;
  width: 48%;
  height: 60%;
  display: flex;
  float: right;
}

.vs-label{
  width: 4%;
  height: 60%;
  color: #9FA9B3;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  /*center vertically*/
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* left side user information*/
.left-matchup{
  width: 90%;
  height: 100%;
  float: left;
}

.left-matchup-container{
  position: relative;
  width: 25%;
  height: 100%;
}

.avatar{
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 25px;
  padding-bottom: 20px;
}

.name{
  padding-top: 5px;
  height: 30px;
  width: 125px;
 font-size: 100%;
  padding-left: 5px;
}

.score{
  width: 100%;
  height: 24px;
  font-size: 90%;
  font-weight: bold;
}

.projection{
  font-size: 70%;
  width: 100%;
  height: 17px;
}

.score-and-projections{
  height: 100%;
  width: 13%;
  float: right;
  padding-top: 5px;
  position: relative;
  text-align: middle;
}

.team-name{
  font-size: 80%;
  height: 13px;
  width: 125px;
  padding-left: 5px;
}

.description{
  height: 13px;
  width: 145px;
  font-size: 12px;
  padding-left: 5px;
  padding-top: 5px;
}

/* right side user information*/
.right-matchup{
  width: 90%;
  height: 100%;
  float: right;
}

.right-matchup-container{
  position: relative;
  width: 25%;
  height: 100%;
  float: right;
}

.avatar-flip{
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 25px;
}

.name-flip{
  padding-top: 5px;
  height: 30px;
  width: 125px;
  font-size: 100%;
  padding-right: 5px;
  float: right;
  text-align: right;

}

.score-flip{
  width: 100%;
  height: 24px;
  font-size: 90%;
  font-weight: bold;
  text-align: right;
}
.projection-flip{
  font-size: 70%;
  width: 100%;
  height: 17px;
  text-align: right;
}

.score-and-projections-flip{
  height: 100%;
  width: 13%;
  float: left;
  padding-top: 5px;
  position: relative;
  text-align: middle;
}

.team-name-flip{
  font-size: 80%;
  height: 13px;
  width: 125px;
  padding-right: 5px;
  float: right;
  text-align: right;
}

.description-flip{
  height: 13px;
  width: 145px;
  font-size: 12px;
  padding-right: 5px;
  padding-top: 5px;
  float: right;
  text-align: right;
}

/*
Win Chance Bar
*/

.win-chance-bar{
  height: 23px;
}

.remaining-players-container{
  height: 28px;
}

.starters-section{
  height: 100%;
}

.start-header-wrapper{
  height: 48px;
}
/* Starters CSS*/
.starter-header{
  height: 18px;
  width: 70%;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.text{
  float: right;
  height: 18px;
  font-size: 18px;
  color: #677897;
}

.starter-container{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.starter-container2{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.starter-container3{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.starter-container4{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.starter-container5{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.starter-container6{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.left-start{
  width: 46%;
  height: 100%;
  float: left;
  display: flex;
}

.middle-start{
  border-radius: 5px;
  display: inline-block;
  width: 8%;
  height: 50%;
  /*center vertically*/
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.middle-text{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}

.right-start{
  width: 46%;
  height: 100%;
  float: right;
  display: flex;
}

.player-meta-left{
  float: left;
  padding: 5px 0px 0px 5px;
  width: 30%;
  text-align: left;
}

.player-score-container-left{
  float: right;
  width: 10%;
  padding-top: 5px;
}

.player-space{
  display: inline-block;
  width: 50%;
}

.player-meta-right{
  float: right;
  padding: 5px 5px 0px 0px;
  width: 30%;
  text-align: right;
}

.player-score-container-right{
  float: left;
  width: 20%;
  padding-top: 5px;
  text-align: right;
}

.player-score{
  font-weight: bold;
}

.player-name{
  font-weight: bold;
}


/* Bench CSS*/
.bench-header{
  height: 48px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 5px;
}

.bench-container{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}


.bench-container2{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

.bench-container3{
  border-top: none;
  border-left: none;
  border-right: none;
  height: 80px;
  border-bottom: 1px solid black;
}

/*
  Percentage CSS
*/

.middle-div{
  height: 100px;
  width: 100%;
}

.win-chance-bar{
  height: 10%;
  width: 95%;
  margin-left: 2.5%;
  border: 1px  #283245 solid;
  margin-bottom: 5px;
}

.left-bar{
  width: 50%;
  float: left;
  background-color: green;
  height: 100%;
}

.right-bar{
  width: 50%;
  float: right;
  background-color: red;
  height: 100%;
}

.above-chance:after{
  content: "";
  display: table;
  clear: both;
}

.left-chance{
  float:left;
  width: 10%;
  padding-left: 2.5%;
}

.middle-chance{
  float:left;
  width: 80%;
  text-align: center;
}

.right-chance{
  float:right;
  width: 10%;
  padding-left: 2.5%;
}

.remaining-players-container{
  height: 33%;
  width: 100%;
}

.left-remaining{
  width: 50%;
  float: left;
  font-size: 75%;
  padding-left: 5%;
}

.left-container{
  float: left;
  
}

.right-remaining{
  width: 50%;
  float: right;
  font-size: 75%;
  padding-right: 5%;
}

.right-container{
  float: right;
}

/*
Chat App CSS
*/

.chat-container{
  height: 100%;
  width: 100%;
  overflow: auto;
}
.chat-header{
 color:white;
 height: 10%;
 padding-left: 5%;
}

.last-message{
  font-size: 70%;
}

.chat-body{
  height: 70%;
  overflow-y: auto;
  padding-left: 5%;
}

.chat-footer{
  height: 20%;
  position: relative;
}

.chat-input{
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 60%;
  border-radius: 5px;
  border: none;
}

.chat-btn{
  float: right;
  padding-right: 2.5%;
}

.chat-btn-submit{
  background-color: #1DA1F2;
  border: none;
  margin-top: 10px;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  color: white;
}

/*League Settings CSS*/
.league-settings-panel{
  overflow-y: auto;
}

.settings-header{
  color: #929599;
  border-bottom: 1px solid white;
  margin: 0px 10px 0px 10px;
  padding-top: 40px;
}

.coowner-button{
  margin: 10px 0px 0px 10px;
}

.manage-owner-btn{
  background-color: #58A7FF;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
}

.right-edit{
  float: right;
  color: #58A7FF;
}

.right-edit:hover{
  color: #55504E;
}

.grouping-header{
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
}

.setting-row-stack{
  display: inline-block;
}

.settings-name{
  margin: 10px 0px 0px 10px;
  font-weight: bold;
}

.settings-value{
  margin: 0px 0px 0px 10px;
}

.setting-row{
  display:inline-block;
}

.settings-name2{
  margin: 0px 0px 0px 10px;
  float: left;
}
.settings-value2{
  float: right;
  margin: 0px 10px 0px 0px
}

/*View League CSS*/
.my-league-panel{
  overflow-y: auto;
}

.my-league-header{
  color: #929599;
  border-bottom: 1px solid white;
  margin: 0px 10px 0px 10px;
  padding-top: 40px;
  font-weight: bold;
}

.my-league-points-for{
  float: right;
  width: 10%;
}

.my-league-points-allowed{
  float: right;
  width: 10%;
}

.my-league-waiver{
  float: right;
  width: 10%;
}

.my-league-div{

}

.league-standing-row{
  margin: 0px 10px 0px 10px;
  display: flex;
}

.rank{
  width: 5%;
}

.team-container{
  width: 65%;
}

.team-owner-name{
}

.team-owner-desc{
  font-size: 11px;
}

.points-for{
  width: 10%;
}

.points-allowed{
  width: 10%;
}

.waiver{
  width: 10%;
  text-align: center;
}

.league-transaction-item{
  margin: 0px 10px 0px 10px;
  display: flex;
}

.team-owner-with-desc{
  width: 40%;
}

.av{
  width: 10%
}

.trans-timestamp, .player-pos{
  font-size: 11px;
}
